<table class="table">
    <thead>
      <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Type 2</td>
        <td>Level</td>
        <td>Attack</td>
        <td>Image</td>
      </tr>
    </thead>
    <tbody>
      @for (pokemon of pokemonList; track pokemon.id) {
        <tr (click)="clickPokemon(pokemon)">
          <td [class.electric]="pokemon.type === 'electric'">{{pokemon.name}}</td>
          <td>{{pokemon.type}}</td>
          <td>{{ pokemon.type2 | optional : '-' }}</td>
          <td>{{pokemon.level}}</td>
          <td>{{pokemon.attack}}</td>
          <td><img class="miniature" [src]="getPokemonImage(pokemon)" [alt]="pokemon.name"></td>
        </tr>
      }
    </tbody>
  </table>